@import "./reset.scss";

body {
  font-family: sans-serif;
  overflow: hidden;
  font-size: 3.2vh;
}

#root {
  background: #000000;
  display: grid;
  grid-template-rows: 0.1fr 1fr 1fr;
  grid-template-columns: 1fr;
  scroll-snap-type: y mandatory;
  overflow: scroll;
  height: 100vh;
  position: relative;

  @import "./header.scss";
}

@import "./current-playback.scss";

@import "./search.scss";

.animation-item-enter {
  opacity: 0;
  transform: scale(0);
}
.animation-item-enter-active {
  opacity: 1;
  transition: 300ms;
  transform: scale(1);
}
.animation-item-exit {
  opacity: 1;
}
.animation-item-exit-active {
  opacity: 0;
  transition: 300ms;
  transform: scale(0);
}
